mixin select({ id, label, options, value, name, multiple = false })
  .form-group
    label(for=id) #{label}
    select.form-control(id=id, multiple=multiple, name=name, value=value)
      option Nenhuma
      for option in options
        if value === option
          option(selected) #{option}
        else
          option #{option}