mixin comentario(elemento)
  .col-sm-1
    img.img-thumbnail.user-photo(src=elemento.autor.gravatar)
  .col-sm-5
    .card.mb-3
      .card-header
        span.text-muted #{h.tempoDesde(elemento.dataCriacao)} atrás
      .card-body
        p.card-text #{elemento.texto}
      .card-footer.text-muted        
        button.btn.btn-outline-primary.btn-sm(name='btn_favoritar')
          a(href=`/comentarios/curtir/${elemento._id}`)          
            i.far.fa-thumbs-up
            |               
            span(name='btn_favoritar_likes') #{elemento.likes.length}
